header {
    text-align: center;
    padding-top: 10px;
    color: rgb(33, 0, 221);
    font-weight: bolder;
    padding-bottom: 5%;
  }

  nav a {
    text-decoration: none;
    color: rgb(41, 0, 224);
    text-align: right;
  }

  nav a:hover {
      background-color: black;
  }

  .greeting-bar {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
  }

  .greeting {
    margin-left: 3%;
  }

  .logout-link {
    margin-right: 3%;
  }
  .title a {
    text-decoration: none;
    color: rgb(36, 40, 255);
    font-size: 3rem;
    font-family: 'Lucida Grande', Verdana, sans-serif;
  }

  .title a:hover {
      background-color: black;
  }
  
  