header {
    text-align: center;
    padding-top: 10px;
    font-weight: bolder;
    padding-bottom: 10%;
  }

  nav a {
    text-decoration: none;
    color: #fc373a;
    text-align: right;
  }

  nav a:hover {
      background-color: black;
  }

  .greeting-bar {
    text-align: center;
    font-size: 1.4em;
    font-family: 'Blippo';
  }

  .greeting {
    text-decoration: none;
    color: #ff1519;
    font-size: 3rem;
    font-family: 'Blippo';
    -webkit-text-stroke: 1px white;
  }

  .title a {
    text-decoration: none;
    color: #ff1519;
    font-size: 3rem;
    font-family: 'Blippo';
    -webkit-text-stroke: 1px white;
  }

  .title a:hover {
      background-color: black;
  }
  
  