* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;
}


 

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background: url(images/pexels-nick-rtr-3187173.jpg) center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

section {
  text-align: center;
}

:root {
  --font-size: calc(10px + 1vmin);
}
